node_modules
dist
.env
apps/server/data
.DS_Store
.*.bun-build
.context
apps/server/dist-sidecar
apps/website/src-tauri/.tmp
apps/website/src-tauri/binaries
apps/website/src-tauri/target
apps/website/test-results
